<h1 class="mb-4 text-center">SELAMAT DATANG</h1>
<h3>Halo <%= nama %></h3>

<h4 class="mt-4 d-flex justify-content-center align-items-center">Daftar Mahasiswa</h4>
<% if (mahasiswa.length === 0) { %>
<p>Data Masih Kosong</p>
<% } else { %>
<table class="table table-bordered bg-light border border-2">
  <thead class="table-primary">
    <tr>
      <th>Nama</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% mahasiswa.forEach(mhs => { %>
    <tr>
      <td><%= mhs.nama %></td>
      <td><%= mhs.email %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } %>
